<h1>Accedi</h1>
<form action="/auth/login" method="post">
  <label>Username:<input name="username"/></label><br/>
  <label>Password:<input type="password" name="password"/></label><br/>
  <button type="submit">Accedi</button>
</form>