<!DOCTYPE html>
<html>
<head>
  <title>Mio Blog Express</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <%- include('partials/header') %>
  <%- body %>
  <%- include('partials/footer') %>
</body>
</html>