<h1>Crea nuovo post</h1>
<form action="/posts/new" method="post">
  <label>Titolo:<input name="title"/></label><br/>
  <label>Contenuto:<textarea name="body"></textarea></label><br/>
  <button type="submit">Pubblica</button>
</form>